* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

nav {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav>div {
    align-self: center;
}

.child {
    position: relative;

}

.parent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 250vh;
}

.child1 {
    grid-area: 1/1/3/3;
    transition-duration: 1s;
    overflow: hidden;
}

.child1:hover .image1 {
    transform: scale(1.2) rotate(10deg);
    transition-duration: 1s;
}

.image1 {
    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}

.text1 {
    position: absolute;
    top: 45%;
    left: 35%;
    z-index: 2;
}

.text1>h2 {
    font-size: 34px;
    color: white;
    padding-bottom: 20px;
    transition-duration: 0.5s;
}

.text1>h2:hover {
    color: #ff3271;
    cursor: pointer;
    transition-duration: 0.5s;
}

.text1>button {
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: #ff3271;
    color: white;
    padding: 20px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.text1>button:hover {
    box-sizing: border-box;
    border: 1px solid #ff3271;
    background-color: transparent;
    color: #ff3271;
    transition-duration: 0.5s;
}

.image2 {
    background-image: url(./images/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}

.child2 {
    transition-duration: 1s;
    overflow: hidden;
}

.child2:hover .image2 {
    transform: scale(1.2) rotate(10deg);
    transition-duration: 1s;
}

.icon-hover {
    position: relative;
}

.icon-hover::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 100px;
    background-color: aqua;
    z-index: 3;
}

.child8 {
    grid-area: 3/3/4/5;
}

.child9 {
    grid-area: 4/1/4/3;
}

.child14 {
    grid-area: 5/3/6/5;
}