* {
    padding: 0px;
    margin: 0px;
}

nav {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav>div {
    align-self: center;
}

.child {
    border: 1px solid;

}

.parent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 250vh;
}

.child1 {
    grid-area: 1/1/3/3;
    transition-duration: 1s;
    overflow: hidden;
}

.child1>div {
    background-image: url(./images/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.child1>div:hover {
    transform: scale(1.2) rotate(10deg);
    transition-duration: 1s;
}

.child8 {
    grid-area: 3/3/4/5;
}

.child9 {
    grid-area: 4/1/4/3;
}

.child14 {
    grid-area: 5/3/6/5;
}